.site-layout-content {
    min-height: calc(100vh - 64px - 268px);
    padding: 24px;
    background: #ffffff;
}

.site-layout-content-sessions {
    min-height: calc(100vh - 64px - 164px);
    padding: 24px;
    background: #ffffff;
}

.logo {
    float: left;
    height: 50px;
    margin: 0 20px 0 0;
}
