.dragger {
    min-height: calc(100vh - 64px - 268px - 50px);
}

.ant-upload-drag-icon {
    padding-top: calc((100vh - 64px - 268px - 50px)/2 - 70px);
}

.buttons {
    padding: 20px 50px 0;
    display: flex;
    justify-content: space-between;
}